{% extends "feed/base.html" %}

{% block content %}
<table class="u-full-width">
    <thead>
        <tr>
            <th>Channel</th>
            <th colspan="2">Video</th>
            <th>Publish Time</th>
        </tr>
    </thead>
    <tbody>
        {% for video in feed_videos %}
            <tr>
                <td>
                    <img class="yt-small-thumb" src="{{ video.channel.thumbnail }}">
                </td>
                <td><a href="{{ video.url }}" target="_blank"><img class="yt-small-thumb" src="{{ video.thumbnail }}"></a></td>
                <td><a href="{{ video.url }}" target="_blank">{{ video.title }}</a></td>
                <td>{{ video.published_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}